{"resourceId": "cgw-XXXXXXXX", "awsAccountId": "000000000000", "configurationStateId": IDIDIDID, "relatedEvents": ["3a01e1a4-c30e-413e-bcd3-d24d775f546a"], "configurationItemCaptureTime": "2015-02-04T09:43:34.070Z", "configurationItemStatus": "OK", "availabilityZone": "Not Applicable", "tags": {}, "configurationStateMd5Hash": "9ea35a8b013a1c4959988e02a298c56b", "configuration": {"type": "ipsec.1", "ipAddress": "52.0.9.225", "customerGatewayId": "cgw-XXXXXXXX", "bgpAsn": "65000", "state": "deleted", "tags": []}, "awsRegion": "Not Applicable", "resourceType": "AWS::EC2::CustomerGateway", "configurationItemVersion": "1.0", "ARN": "arn:aws:ec2:us-east-1:000000000000:customer-gateway/cgw-XXXXXXXX", "relationships": [{"resourceId": "vpn-XXXXXXXX", "resourceType": "AWS::EC2::VPNConnection", "name": "Is attached to VpnConnection"}]}
