{"resourceId": "igw-XXXXXXXX", "awsAccountId": "000000000000", "configurationStateId": IDIDIDID, "relatedEvents": [], "configurationItemCaptureTime": "2015-02-04T09:18:31.853Z", "configurationItemStatus": "OK", "availabilityZone": "Multiple Availability Zones", "tags": {}, "configurationStateMd5Hash": "6354284233f310acd728e4e60caecd68", "configuration": {"attachments": [{"vpcId": "vpc-XXXXXXXX", "state": "available"}], "tags": [], "internetGatewayId": "igw-XXXXXXXX"}, "awsRegion": "us-east-1", "resourceType": "AWS::EC2::InternetGateway", "configurationItemVersion": "1.0", "ARN": "arn:aws:ec2:us-east-1:000000000000:internet-gateway/igw-XXXXXXXX", "relationships": [{"resourceId": "vpc-XXXXXXXX", "resourceType": "AWS::EC2::VPC", "name": "Is attached to Vpc"}]}