{"notificationCreationTime": "2015-02-04T15:18:32.524Z", "recordVersion": "1.2", "configurationItemDiff": {"changedProperties": {}, "changeType": "UPDATE"},"configurationItem":{"resourceId": "Default", "awsAccountId": "000000000000", "configurationStateId": IDIDIDID, "relatedEvents": ["9b407230-e34b-4c06-ad88-111e94cbe88f"], "configurationItemCaptureTime": "2015-02-04T08:48:42.300Z", "configurationItemStatus": "OK", "availabilityZone": "Regional", "tags": {}, "configurationStateMd5Hash": "8c57b353a6eece32053f545512c746d2", "configuration": {"s3BucketName": "cloud-trail-mobile", "snsTopicName": "cloud-trail-sns", "name": "Default", "includeGlobalServiceEvents": true}, "awsRegion": "us-east-1", "resourceType": "AWS::CloudTrail::Trail", "configurationItemVersion": "1.0", "ARN": "arn:aws:cloudtrail:us-east-1:000000000000:trail/Default", "relationships": []}, "messageType": "ConfigurationItemChangeNotification"}